<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication55">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication55"
        tools:targetApi="31">
        <activity
            android:name=".Therapist_StatusPage_Activity"
            android:exported="false" />
        <activity
            android:name=".Patient_StatusPage_Activity"
            android:exported="false" />
        <activity
            android:name=".Patient_Rating_Page_Activity"
            android:exported="true" />
        <activity
            android:name=".PatientPaymentPageActivity"
            android:exported="false" />
        <activity
            android:name=".Therapist_RequestPage"
            android:exported="false" />
        <activity
            android:name=".Confirmationpage"
            android:exported="false" />
        <activity
            android:name=".EditPatientProfilePage"
            android:exported="false" />
        <activity
            android:name=".EditTherapistProfilePage"
            android:exported="false" />
        <activity
            android:name=".FirebaseAuthMethods"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Patient_AppointmentPage_Activity"
            android:exported="true" />
        <activity
            android:name=".Patient_ChatPage_Activity"
            android:exported="false" />
        <activity
            android:name=".Patient_HomePage_Activity"
            android:exported="false" />
        <activity
            android:name=".Patient_ProfilePage_Activity"
            android:exported="false" />
        <activity
            android:name=".Patient_TherapistPage_Activity"
            android:exported="false" />
        <activity
            android:name=".PatientSignup"
            android:exported="false" />
        <activity
            android:name=".ReservationInformationEditPage"
            android:exported="true" />
        <activity
            android:name=".Signupchoice"
            android:exported="false" />
        <activity
            android:name=".Therapist_AppointmentPage_Activity"
            android:exported="false" />
        <activity
            android:name=".Therapist_PatientPage_Activity"
            android:exported="false" />
        <activity
            android:name=".Therapist_ChatPage_Activity"
            android:exported="false" />
        <activity
            android:name=".Therapist_HomePage_Activity"
            android:exported="false" />
        <activity
            android:name=".Therapist_ProfilePage_Activity"
            android:exported="false" />
        <activity
            android:name=".Patient_View_TherapistInfo_Activity"
            android:exported="false" />
        <activity
            android:name=".TherapistSignup"
            android:exported="false" />
        <activity
            android:name=".welcome"
            android:exported="false" />
        <activity
            android:name=".IntroductoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>